body {
  background-color: #F8F7FF
}
body{
	text-align: center;
}
#Owl {
	font-family: fantasy;
}
#secret {
	opacity: .5;
}
ul {
	list-style-type: none;
}
table {
	border: 1px solid grey;

}
th {
	border: 1px solid grey;
}
td {
	border: 1px solid grey;
}
  table.center {
    margin-left:auto; 
    margin-right:auto;
  }

